services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    image: api-build
    container_name: api-build
    ports:
      - "6011:6011"
    volumes:
      - ./repos:/build/repos
      - ./environment.sh:/build/environment.sh:ro
      - ./doapibuild.sh:/build/doapibuild.sh:ro
      - ./broker:/tmp/.data/broker
    networks:
      - emergency-alerts-network
    depends_on:
      - pg

  admin:
    build:
      context: .
      dockerfile: Dockerfile.admin
    image: admin-build
    container_name: admin-build
    ports:
      - "6012:6012"
    volumes:
      - ./repos:/build/repos
      - ./environment.sh:/build/environment.sh:ro
      - ./doadminbuild.sh:/build/doadminbuild.sh:ro
    networks:
      - emergency-alerts-network
    depends_on:
      - api

  govuk:
    build:
      context: .
      dockerfile: Dockerfile.govuk
    image: govuk-build
    container_name: govuk-build
    ports:
      - "6017:6017"
    volumes:
      - ./repos:/build/repos
      - ./environment.sh:/build/environment.sh:ro
      - ./dogovukbuild.sh:/build/dogovukbuild.sh:ro
      - ./broker:/tmp/.data/broker
    networks:
      - emergency-alerts-network
    depends_on:
      - api

  db-init:
    image: api-build
    restart: no
    volumes:
      - ./repos:/build/repos
      - ./db-init.sh:/build/db-init.sh:ro
      - ./environment.sh:/build/environment.sh:ro
    entrypoint: /build/db-init.sh
    networks:
      - emergency-alerts-network
    depends_on:
      - pg

  pg:
    image: postgis/postgis:14-3.5
    platform: linux/amd64
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      USER: $USER
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d:ro
      - pg-data:/var/lib/postgresql/data
    networks:
      - emergency-alerts-network
    ports:
      - 5432:5432

networks:
  emergency-alerts-network:
    driver: bridge

volumes:
  pg-data: {}
